/*
 * 	Custom theme - Owl Carousel CSS File
 */
.owl-stage {
	display: flex;
	align-items: stretch;
}

.owl-item {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}

.owl-nav {
	width: 100%;
	position: absolute;
	top: 50%;
}

.owl-nav button {
	position: absolute;
	outline: none;
}

.owl-nav button.owl-next {
	right: 0;
}

.owl-nav button.owl-prev {
	left: 0;
}

.owl-nav button span {
	width: 35px;
	height: 35px;
	background-color: #5e7cd4;
	color: white;
	border-radius: 100%;
	display: block;
	font-size: 35px;
	line-height: 0;
	font-weight: 100;
	padding: 15px 0 0 2px;
}

.owl-nav button.disabled span {
	background: #d6d6d6;
}

.owl-dots {
	display: flex;
	justify-content: center;
	margin-left: -7px;
	margin-right: -7px;
	margin-top: 18px;
	position: relative;
}

.owl-dot span {
	width: 12px;
	height: 12px;
	display: block;
	border: 1px solid white;
	border-radius: 50%;
	margin: 0 7px;
}

.owl-dot.active span {
	border-color: #e37222;
	background: #e37222;
}

.owl-dot {
	outline: none;
}
