.filter {
	--z-index: 0;
	position: relative;
}

.filter:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.7);
	z-index: var(--z-index);
}

.filter * {
	z-index: calc(var(--z-index) + 1);
	position: relative;
}

.filter--blue-blure:before {
	background: rgba(21, 123, 209, 0.7);
}

.filter--dark-blure:before {
	background: rgba(0, 0, 0, 0.5);
}
