.main-menu {
	position: absolute;
	top: -100vh;
	height: 100vh;
	overflow: hidden;
	transition: all 0.3s;
	width: 100%;
	z-index: 1000;
	color: white;
	background-color: black;
}

.show-main-menu .main-menu {
	top: 0;
}

.main-menu__close.button-close {
	border-color: white;
	width: 60px;
	height: 60px;
}
