<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link href="style.css" rel="stylesheet" type="text/css">
	<link href="custom.css" rel="stylesheet" type="text/css">
	<link href="custom.css" rel="stylesheet" type="text/css">


</head>
<body>


<div class="team js_filter">
	<nav class="menu menu-our-team">
		<ul class="menu-our-team__list ">
			<li class="menu-our-team__item js_filter__nav active" data-filter-selector="342">Экспертный совет</li>
			<li class="menu-our-team__item js_filter__nav " data-filter-selector="341">Правление</li>
			<li class="menu-our-team__item js_filter__nav " data-filter-selector="339">Шеф-инструкторы</li>
			<li class="menu-our-team__item js_filter__nav " data-filter-selector="340">Команда проекта</li>
		</ul>
	</nav>
	<div class="team__list">
		<div class="team__item js_filter__item" data-filter-item="339" style="display: none;">
			<div class="tail-person">
				<div class="tail-person__photo">
					<img
						src="/upload/resize_cache/iblock/bfc/300_300_1d7a58ff99b324185ccb5ad5dfbdb5e85/bfc48c4a52ff33eda426772c95f6f141.jpg"
						alt="Евсеев Сергей Петрович4">
				</div>

				<div class="tail-person__name">
					Евсеев Сергей Петрович4
				</div>
				<div class="tail-person__description">
					Доктор педагогических наук, профессор, член-корреспондент РАО
				</div>
			</div>
		</div>
		<div class="team__item js_filter__item" data-filter-item="340" style="display: none;">
			<div class="tail-person">
				<div class="tail-person__photo">
					<img
						src="/upload/resize_cache/iblock/268/300_300_1d7a58ff99b324185ccb5ad5dfbdb5e85/2683aeb0855815dd476d656d4cded0b1.jpg"
						alt="Евсеев Сергей Петрович3">
				</div>

				<div class="tail-person__name">
					Евсеев Сергей Петрович3
				</div>
				<div class="tail-person__description">
					Доктор педагогических наук, профессор, член-корреспондент РАО
				</div>
			</div>
		</div>
		<div class="team__item js_filter__item" data-filter-item="341" style="display: none;">
			<div class="tail-person">
				<div class="tail-person__photo">
					<img
						src="/upload/resize_cache/iblock/b7e/300_300_1d7a58ff99b324185ccb5ad5dfbdb5e85/b7e1550d78d59bd16b869ba2013c8275.jpg"
						alt="Евсеев Сергей Петрович2">
				</div>

				<div class="tail-person__name">
					Евсеев Сергей Петрович2
				</div>
				<div class="tail-person__description">
					Доктор педагогических наук, профессор, член-корреспондент РАО
				</div>
			</div>
		</div>
		<div class="team__item js_filter__item" data-filter-item="342" style="display: block;">
			<div class="tail-person">
				<div class="tail-person__photo">
					<img
						src="/upload/resize_cache/iblock/0d5/300_300_1d7a58ff99b324185ccb5ad5dfbdb5e85/0d57293042a5caad71f7330fc0192ba8.jpg"
						alt="Евсеев Сергей Петрович">
				</div>

				<div class="tail-person__name">
					Евсеев Сергей Петрович
				</div>
				<div class="tail-person__description">
					Доктор педагогических наук, профессор, член-корреспондент РАО
				</div>
			</div>
		</div>
		<div class="team__item js_filter__item" data-filter-item="342" style="display: block;">
			<div class="tail-person">
				<div class="tail-person__photo">
					<img
						src="/upload/resize_cache/iblock/c3b/300_300_1d7a58ff99b324185ccb5ad5dfbdb5e85/c3b996a2be8bc6921a9852f969289fc2.jpg"
						alt="Крель Наталья Валерьевна">
				</div>

				<div class="tail-person__name">
					Крель Наталья Валерьевна
				</div>
				<div class="tail-person__description">
					Руководитель общественного объединения "Союз специалистов и ведущих организаций инвалидов России"
				</div>
			</div>
		</div>
		<div class="team__item js_filter__item" data-filter-item="342" style="display: block;">
			<div class="tail-person">
				<div class="tail-person__photo">
					<img
						src="/upload/resize_cache/iblock/d19/300_300_1d7a58ff99b324185ccb5ad5dfbdb5e85/d19ec28894d3c657f2fa5beade2c4095.jpg"
						alt="Пушкина Оксана Викторовна">
				</div>

				<div class="tail-person__name">
					Пушкина Оксана Викторовна
				</div>
				<div class="tail-person__description">
					Уполномоченный по правам ребёнка в Московской области
				</div>
			</div>
		</div>
		<div class="team__item js_filter__item" data-filter-item="342" style="display: block;">
			<div class="tail-person">
				<div class="tail-person__photo">
					<img
						src="/upload/resize_cache/iblock/05c/300_300_1d7a58ff99b324185ccb5ad5dfbdb5e85/05c5a5cc74fca499704df29cbfa6cbe6.jpg"
						alt="Епифанова Ольга Николаевна">
				</div>

				<div class="tail-person__name">
					Епифанова Ольга Николаевна
				</div>
				<div class="tail-person__description">
					Заместитель председателя Государственной думы Федерального собрания Российской Федерации VII созыва
				</div>
			</div>
		</div>
	</div>
</div>

<script
	crossorigin="anonymous"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="script.js"></script>

</body>
</html>
