.hamburger,
.hamburger:before,
.hamburger:after {
	border-top: 1px solid #6d7578;
	width: 21.6px;
	cursor: pointer;
}

.hamburger:before,
.hamburger:after {
	content: "";
	margin: 6px auto 0 0;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:after {
	width: 15px;
}

.hamburger--active {
	border: none;
	margin-top: -7px;
}

.hamburger--active:before {
	transform: translateY(7px) rotate(45deg);
	width: 24px;
}

.hamburger--active:after {
	width: 25px;
	margin-top: 14px;
	transform: translateY(-8px) rotate(-45deg);
}
