div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}


.doctors-top{
	display: flex;
	border-radius: 15px;
	background: #FAFDFE;
	box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.20), -6px -6px 16px 0px rgba(255, 255, 255, 0.80);
	padding: 30px;
	margin-bottom: 60px;
}

.doctors-top__left{
	margin-right: 40px;
}

.doctors-top__left img{
	width: 271px;
	height: 390px;
	border-radius: 10px;
	border: 1px solid #8AFFF4;
	object-fit: contain;
	vertical-align: middle;
	border: 1px solid #8AFFF4 !important;
}

.doctors-top__column{
	display: flex;
	flex-direction: column;
}

.doctors-top__name{
	color: #A5A5A5;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin-bottom: 5px;
}

.doctors-top__value{
	font-size: 16px;
	color: #333438;
}

.doctors-top__column{
	margin-bottom: 20px;
}

.doctors-top__right{
	margin-left: auto;
	max-width: 150px;
	text-align: center;
	position: relative;

}

.doctors-top__right:after{
	content: '';
	width: 1px;
	height: 100%;
	background: linear-gradient(101deg, #8AFFF4 41.96%, #1CD6C4 78.66%);
	display: block;
	top: 0;
	position: absolute;
	left: -20px;
}

.doctors-top__button{
	border-radius: 30px;
	background: linear-gradient(155deg, #A0FFF9 9.93%, #36DAD0 91.08%);
	box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.20), -4px -4px 16px 0px rgba(255, 255, 255, 0.80);
	padding: 12px 30px;
	line-height: normal;
	margin-bottom: 10px;
	cursor: pointer;
}

.doctors-top__text{
	color: #5A5A5A;
	/* Art/element/elemen11 */
	font-family: Roboto;
	font-size: 10px;
	font-style: normal;
	font-weight: 300;
	line-height: 15px; /* 150% */
	letter-spacing: 0.15px;
}

.doctors-detail li{
	padding-bottom: 30px;
	position: relative;
	margin-left: 50px;
}

.doctors-detail li:before{
	content: '';
	height: 100%;
	width: 2px;
	background: #8AFFF4;
	display: block;
	position: absolute;
	left: -35px;
}


.doctors-detail li:last-of-type:before{
	content: none;
}

.doctors-detail li:after{
	content: '';
	height: 30px;
	width: 30px;
	background: #fff;
	display: block;
	position: absolute;
	left: -20px;
	border: 1px solid #8AFFF4;
	z-index: 2;
	border-radius: 50px;
	top: 0;
	left: -50px;
}


@media (max-width: 700px) {

	.doctors-top{
		flex-wrap: wrap;
	}

	.doctors-top__left{
		margin: 0 auto;
		flex: 0 0 100%;
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
	}

	.doctors-top__center{
		flex: 0 0 100%;
	}

	.doctors-top__right{
		flex: 0 0 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
	}

	.doctors-top__right:after{
		content: none;
	}


}
