.about-clinic__list {
	margin-bottom: 30px;
}

.about-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	row-gap: 30px;
}

.about-list > * {
	flex: 0 0 auto;
	width: 100%;

	padding-left: 10px;
	padding-right: 10px;
}

.about-list__name {
	display: flex;
	margin-bottom: 20px;
	padding: 5px 0;

	font-family: "Sansation", sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.15px;
	color: var(--color-main);
}

.about-list__name .icon {
	width: 27px;
	height: 18px;
	margin-right: 20px;
}

.about-list__description {
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	color: var(--color-dark);
}

@media (min-width: 768px) {
	.about-list > * {
		width: 50%;
	}

	.about-clinic__list {
		margin-bottom: 60px;
	}
}

@media (min-width: 1000px) {
	.about-list  {
		row-gap: 40px;
	}

	.about-list > * {
		width: 33.333%;
	}

	.about-list__name {
		font-size: 20px;
	}
}
