<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="tabs">
	<div class="tabs__nav">
		<div class="tabs__nav-item tabs__nav-item--active " data-target="#tab1"><span>Таба 1</span></div>
		<div class="tabs__nav-item" data-target="#tab2"><span>Таба 2</span></div>
	</div>
	<div class="tabs__content">
		<div class="tabs__pane tabs__pane--show" id="#tab1">
			Контент Табы 1
		</div>
		<div class="tabs__pane" id="#tab2">
			Контент Табы 2
		</div>
	</div>
</div>
<script
	crossorigin="anonymous"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="script.js"></script>
</body>
</html>
