.menu_404__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu_404__list li {
	width: 50%;
	box-sizing: border-box;
	padding: 0 60px 0 0;
	margin-bottom: 20px;
}

.menu_404__list li a {
	font-family: "Proxima Nova";
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 100%;
	/* or 12px */
	letter-spacing: 0.32em;

	color: #000;
}
