.menu-404__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu-404__list li {
	box-sizing: border-box;
	width: 50%;
	margin-bottom: 20px;
	padding: 0 60px 0 0;
}

.menu-404__list li a {
	color: #000;
	font-weight: 300;
	font-size: 12px;
	font-family: "Proxima Nova", sans-serif;
	font-style: normal;
	line-height: 100%;
	/* or 12px */
	letter-spacing: 0.32em;
}
