.links__link {
    line-height: 1;
    display: block;
}
.links__link--active {
    /*border-bottom: 1px solid var(--color-white);*/
}
.links__item span {
    border-bottom: 1px solid var(--color-white);
    display: inline-block;
}